<!-- <div>
  <h2>This {{title}}</h2>
  <h2>use of pipe operator below</h2>
  <h2>This {{title | uppercase}}</h2>
  <h2>This {{title | json}}</h2> -->
  <!-- <h1>This {{title | date}}</h1> -->


<!-- </div>
<h2> Enter your title here</h2>
<input type="text" [(ngModel)] = 'title' style="width: 50em; height:2em">
<h4>
  result of 4+5 = {{add(4,5)}}
  <br>
  increment value of 10 is {{increment(10)}}
  <br>
  the value of empid = {{emp?.id}}
  <br>
  the value of cmpid = {{cmp.id+1}}
  <br>
  <button (click)="toogle()" style="background-color: rgb(112, 112, 159);">click me to see my name</button>
  <br>
  <span *ngIf = "show; else elsePart">my name is {{myname}}</span>
  <ng-template #elsePart> you have not clicked the button yet</ng-template>
  <br>
  <br>
  enter the duration between 1, 2 or 3
  <br>
  <input type="text" [(ngModel)] = "duration">
  <br>
  <span [ngSwitch] ="duration">
    <span *ngSwitchCase = "1"> your case 1 is running</span>
    <span *ngSwitchCase = "2"> your case 2 is running</span>
    <span *ngSwitchCase = "3"> your case 3 is running</span>
    <span *ngSwitchDefault = "3"> please enter a correct value</span>
  </span>
  <br>
  <h3>Table one without index check</h3>
  <table *ngFor="let name of mynameArr; let i = index">
    <tr>
      <td>{{i}}</td>
      <td>{{name}}</td>
    </tr>
  </table>
  <br>
  <h3>Table two with index check</h3>
  <table *ngFor="let name of mynameArr; let i = index">
    <tr>
      <td>{{i}}</td>
      <td>{{name}}</td>
      <span *ngIf="i==0"> ---this is 1st index yepee</span>
    </tr>
  </table> -->

  <!-- the upper portion can be used as followes / this syntax is complecated so not preferable to use-->
  <!-- <h3>Table one without index check</h3>
  <ng-template ngFor let-name [ngForOf] = "mynameArr" let-i = index;>
  <table >
    <tr>
      <td>{{i}}</td>
      <td>{{name}}</td>
    </tr>
  </table>
  <br>
</ng-template>
<select name="student" id="student" [(ngModel)]="selectedStudent">
  <ng-container *ngFor="let student of students">

    <ng-container *ngIf="student != 'spider'">
      <option [ngValue]="student">
        {{student | uppercase}}
      </option>
    </ng-container>
  </ng-container>
</select>
</h4> -->

<!-- //component outlet is somethings which holds the propeerrt of an component like a variable -->
<!-- <div>
<h3>life cycle component starts here</h3>
  <app-life-cycle></app-life-cycle>

  <ng-container *ngComponentOutlet = "alert"></ng-container>
  <button (click)= "switchAlert()"><h3>change the allert</h3></button>
  <app-employee></app-employee>
</div> -->
<app-employees></app-employees>
